[submodule "projects/common/src/main/resources/resourcepacks/overhaul"]
	path = projects/common/src/main/resources/resourcepacks/overhaul
	url = https://github.com/cc-orgs/cc-overhaul.git
	branch = "main"
